body{
    background: #2C3E50;
}
#main{
    height: 100%;
    width:100%;
    background: #2C3E50;
}
.container{
    margin-top: 14px;
}
.mini-player{
    display: none;
}
.logo img{
    height: 40px;
}
.logo{
    float:left;
    padding: 6px;
    margin-left: 20px;
}
.sub-nav{
    float:right;
}
.sign-in{
    margin: 2px 4px;
}
.qr-container{
    width: 400px;

}
.qr{
    margin: 0 auto;
    width:300px;
    padding: 40px 0;
    min-height: 300px;
}
.qr-holder{
    width: 400px;
    float: left;
    margin-left: 4px;
}
.fullscreen{
    width: 380px;
    margin-bottom: 20px;
}
footer{
    margin-top: 30px;
}
.footer-banner a{
    text-decoration: none;
}
.subscribe-btn{
    margin-left: 90px;
}

.subscribe-btn input{
    padding: 10px;
    width: 74%;;
}
.subscribe-ipt{
    margin:0;
}
.links {
    margin: 30px 0 0 0;
}
.links a, .links span{
    padding-right: 6px;
    font-size: 13px;
    font-weight: normal;
}
.mobile{
    display: none;
}
/*Phone App Simulation*/
@media screen and (max-width: 586px) {
    footer{display: none;}
    #main{display: none;}
    .mobile{display: block;height: 100%;}
    body{background: #34495e;}
    .header{
        padding: 7px;
        background: #eceff1;
        margin-bottom: 14px;
        z-index: 999;
        position: absolute;
        top:0;
        width: 100%;
        text-align: center;
    }
    .login-form{
        background-color: #eceff1;
        border-radius: 6px;
        padding: 20px 45px 21px;
        position: relative;
        border-radius: 0;
        margin-top: 50px;
    }
    .list-pres{
        display: none;
        margin: 0 auto;
    }
    .tile-title{
        line-height: 1.4em;
        margin-bottom: 12px;
    }
    .ss-logo{
        text-align: center;
        margin: 10px 0;
        height: 36px;
    }
    .header img{
        height: 34px;
        position: absolute;
        right: 50%;
        margin-right: -49px;

    }
    .login-from{
        min-height: 164px;
    }
    .login-form .login-field{
        width: 95%;
    }

    #carousel {
        overflow: hidden;
        width:100%;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
        -webkit-transform-style: preserve-3d;
    }

    #carousel .list.animate {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    #carousel .list {
        transform: translate3d(0%,0,0) scale3d(1,1,1);
        -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
        -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
        -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
        -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
    }

    #carousel .list {
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
        box-shadow: 0 0 20px rgba(0,0,0,.2);
        position: relative;
    }
    .block{
        margin: 0 0 14px 0;
    }
    .list-wrapper{
        margin: 6px auto;
        width:300px;
    }
    .break-line{
        height: 70px;
    }
    .mini-player{
        display: none;
    }
    .arrow {
        position: relative;
        top: 2px;
        font-size: 45px;
        color:#FFFFFF;
    }
    .controllers .button{
        font-weight: 700;
        font-size: 28px;
        min-width: 60px;
        text-align: center;
        display: inline-block;
        padding: 6px 12px;
        background: #1abc9c;
        border: 1px solid rgba(0,0,20,0.15);
        border-radius: 6px;
        transition: all 0.3s ease-out;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,20,0.4), 0 0 1px 8px rgba(0,0,20,0.1), inset 0 3px 2px rgba(255,255,255,.22), inset 0 -3px 2px rgba(0,0,20,.15), inset 0 20px 10px rgba(255,255,255,.12);
        text-decoration: none;
        text-shadow: 0px 1px 1px rgba(255,255,255,.6);
        margin: 10px 12px;

    }
    #previous{
        margin-left: 60px;
    }
    .controllers{
        width: 303px;
        margin: 2px auto;
    }
    .login-form:before{
        display: none;
    }
    .mobile-nav{
        padding: 7px 8px 3px 8px;
        float: left;
        clear:both;
    }
    .mobile-nav span{
        font-size: 20px;

    }
}
.caret{
    padding: 0;
}
.wLogin{
    padding: 20px;
}
footer form {
    min-height: 60px;
}
.text-container{
    float:left;

}
.text-container h1{
    font-size: 30px;

}
.text-container .sub-text{
    padding-right: 6px;
    font-size: 16px;
    font-weight: normal;
    text-transform: none
}
.text-container ol li{
    font-weight: 500;
    text-transform: none;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 14px;
    opacity: 0.8;
}
.text-area a{
    color:#2C3E50;
}
.text-area a:hover {
    color: #2ecc71;
    text-decoration: none; }
.text-container ol{
    margin-left: 40px;
    list-style: decimal;

}
.text-area{
    padding: 6px 20px;
    background: #eceff1;
    border-radius: 6px
}
.fui-checkmark-24{
    color: #1abc9c;
    display: none;
    position: absolute;

    border-radius: 30px;
    background: #eceff1;
    padding: 5px 8px 1px 8px;
}

#step1 .fui-checkmark-24{
    margin-top: 10px;
    margin-left: 9px;

}
#step2 .fui-checkmark-24{
    margin-left: 37px;
    margin-top: -4px;


}
#step3 .fui-checkmark-24{
    margin-left: 178px;

}
#step1{
    padding: 0px 10px;
    border-radius: 6px;
}
#step2{
    padding:12px 10px;
    border-radius: 6px;
}
#step3{
    padding-left: 10px;
}
.green-check{
    background: #1abc9c;
    color: #eceff1;
    opacity:0.77;
}
.green-check a{
    color: #eceff1;
    text-decoration: none;
}
footer .follow{
    opacity: 0.7;
}
.app-body{
    position: absolute;
    left: 0;
    max-width: 640px;
    min-width: 320px;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background: #34495e;
}   
.app-nav{
    background: #475566;
    height: 100%;
    display: block;
    position: fixed;
    width: 84%;
    left: 0px;
    top: 0px;
    z-index: 0;
}